Repository swiftlang/swift-testing, pull requests merged in 2024-08, with the labels that each got.

#588 Simplify `swiftTestingDirectoryPath`.
  Sources/Testing/Traits/Tags/Tag.Color+Loading.swift
Labels: bug

#587 Add instructions for running tests for WebAssembly
  Sources/Testing/Testing.docc/TemporaryGettingStarted.md
Labels: documentation, enhancement, wasi/wasm

#590 Fix Wasm-specific warnings.
  Sources/Testing/Support/Additions/CommandLineAdditions.swift
  Sources/_TestingInternals/include/Includes.h
Labels: bug, wasi/wasm

#589 Add support for `swift test list --verbose`.
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Tests/TestingTests/SwiftPMTests.swift
Labels: bug, tools integration

#592 Fix a crash when an issue is recorded on a detached task.
  Sources/Testing/Events/Recorder/Event.HumanReadableOutputRecorder.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: bug, concurrency

#593 Count issues recorded without known tests.
  Sources/Testing/Events/Recorder/Event.HumanReadableOutputRecorder.swift
Labels: bug, swiftpm-integration, tools integration

#594 Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#595 Fix issues building for 32-bit Windows.
  Sources/Testing/ABI/EntryPoints/SwiftPMEntryPoint.swift
  Sources/Testing/ExitTests/WaitFor.swift
  Tests/TestingTests/Support/CErrorTests.swift
Labels: bug, windows

#597 Ensure xUnit/JUnit XML output correctly counts test-less issues.
  Sources/Testing/Events/Recorder/Event.JUnitXMLRecorder.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: bug, swiftpm-integration, tools integration

#596 Migrate URLs in documentation/comments/etc. from /apple/ to /swiftlang/.
  CONTRIBUTING.md
  Dockerfile
  Documentation/CMake.md
  Documentation/Proposals/0000-proposal-template.md
  Documentation/Proposals/0001-refactor-bug-inits.md
  Documentation/Proposals/0002-json-abi.md
  Documentation/Proposals/0003-make-serialized-trait-api.md
  Documentation/Proposals/0004-constrain-the-granularity-of-test-time-limit-durations.md
  Documentation/README.md
  Documentation/Releases.md
  Documentation/StyleGuide.md
  Documentation/Vision.md
  NOTICE.txt
  Package.swift
  README.md
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/Events/Clock.swift
  Sources/Testing/Events/TimeValue.swift
  Sources/Testing/ExitTests/WaitFor.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Parameterization/TypeInfo.swift
  Sources/Testing/SourceAttribution/Backtrace.swift
  Sources/Testing/Test.swift
  Sources/Testing/Testing.docc/BugIdentifiers.md
  Sources/Testing/Testing.docc/MigratingFromXCTest.md
  Sources/Testing/Testing.docc/TemporaryGettingStarted.md
  Sources/Testing/Traits/Comment+Macro.swift
  Sources/Testing/Traits/Comment.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/Additions/DeclGroupSyntaxAdditions.swift
  Sources/TestingMacros/Support/CRC32.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Sources/_TestingInternals/Discovery.cpp
  Sources/_TestingInternals/include/Defines.h
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: documentation

#602 Add copyright statement blocks to several Markdown files.
  Documentation/CMake.md
  Documentation/Releases.md
  Documentation/SPI.md
  Documentation/Vision.md
Labels: bug, documentation

#604 Add links to glibc documentation for exit test header references.
  Sources/Testing/ExitTests/ExitCondition.swift
Labels: documentation, enhancement, linux

#581 Configure CMake build to install content into toolchain
  CMakeLists.txt
  Sources/CMakeLists.txt
  Sources/Testing/CMakeLists.txt
  Sources/TestingMacros/CMakeLists.txt
  Sources/_TestingInternals/CMakeLists.txt
  cmake/modules/SwiftModuleInstallation.cmake
Labels: enhancement, swiftpm-integration, tools integration, swift-6

#612 Fix a crash if an empty JSON configuration file is specified.
  Sources/Testing/Support/JSON.swift
  Tests/TestingTests/ABIEntryPointTests.swift
Labels: bug

#615 Fixes to exit tests.
  Sources/Testing/ExitTests/ExitCondition.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Expectations/Expectation+Macro.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/TestingMacros/ConditionMacro.swift
  Tests/TestingTests/ExitTestTests.swift
  Tests/TestingTests/Support/FileHandleTests.swift
Labels: bug, documentation, enhancement, linux, darwin, public-api, swift-6.1, exit-tests

#619 Allow move-only types as suites.
  Sources/Testing/Parameterization/TypeInfo.swift
  Sources/Testing/Test+Macro.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/NonCopyableSuiteTests.swift
  Tests/TestingTests/ObjCInteropTests.swift
Labels: enhancement, public-api, swift-6.1

#621 Remove stray use of old `SWT_BUILDING_WITH_CMAKE` condition.
  Sources/Testing/ABI/EntryPoints/ABIEntryPoint.swift
Labels: bug, build, swift-6.1

#620 Warn when passing a non-optional value to `try #require(T?)`.
  Sources/Testing/Expectations/Expectation+Macro.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Sources/TestingMacros/TestingMacrosMain.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingMacrosTests/TestSupport/Parse.swift
  Tests/TestingTests/BacktraceTests.swift
  Tests/TestingTests/IssueTests.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: enhancement, public-api, swift-6.1

#610 Reduce overhead of `.expectationChecked` event handling in `#expect()`.
  Package.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Parameterization/TypeInfo.swift
  Sources/Testing/Running/Runner.RuntimeState.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, performance, swift-6.1

#598 Implement an overload of `confirmation()` that takes an unbounded range.
  Sources/Testing/Issues/Confirmation.swift
  Sources/Testing/Support/Environment.swift
  Sources/TestingMacros/Support/AvailabilityGuards.swift
Labels: enhancement, public-api, swift-6.1

#627 Fix a merge conflict on main-next.
  Sources/Testing/Parameterization/TypeInfo.swift
Labels: bug, swift-6.1, self-reviewed

#626 Disallow `@Test` on member functions of `XCTestCase` subclasses.
  Sources/TestingMacros/SuiteDeclarationMacro.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
Labels: bug, swift-6.1

#628 Improve test coverage of CustomTestStringConvertible.swift.
  Tests/TestingTests/CustomTestStringConvertibleTests.swift
  Tests/TestingTests/TypeInfoTests.swift
Labels: enhancement, swift-6.1

#631 Testing: add some force unwraps for Android
  Sources/Testing/Support/FileHandle.swift
Labels: bug, swift-6.1, android

#633 Fix incorrectly-specified platform list in CMake file.
  cmake/modules/shared/CompilerSettings.cmake
Labels: bug, darwin, wasi/wasm, build, android

#635 Fix build errors in `ExitCondition` operators on platforms without exit tests.
  Sources/Testing/ExitTests/ExitCondition.swift
Labels: bug, darwin, embedded-swift, wasi/wasm, swift-6.1, exit-tests, android

#636 Merge main-next into main.
  Package.swift
  Sources/Testing/ABI/EntryPoints/ABIEntryPoint.swift
  Sources/Testing/Events/Clock.swift
  Sources/Testing/ExitTests/ExitCondition.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Expectations/Expectation+Macro.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Issues/Confirmation.swift
  Sources/Testing/Parameterization/TypeInfo.swift
  Sources/Testing/Running/Runner.RuntimeState.swift
  Sources/Testing/Support/Environment.swift
  Sources/Testing/Support/FileHandle.swift
  Sources/Testing/Test+Macro.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/SuiteDeclarationMacro.swift
  Sources/TestingMacros/Support/AvailabilityGuards.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
  Sources/TestingMacros/TestingMacrosMain.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
  Tests/TestingMacrosTests/TestSupport/Parse.swift
  Tests/TestingTests/BacktraceTests.swift
  Tests/TestingTests/CustomTestStringConvertibleTests.swift
  Tests/TestingTests/ExitTestTests.swift
  Tests/TestingTests/IssueTests.swift
  Tests/TestingTests/MiscellaneousTests.swift
  Tests/TestingTests/NonCopyableSuiteTests.swift
  Tests/TestingTests/ObjCInteropTests.swift
  Tests/TestingTests/Support/FileHandleTests.swift
  Tests/TestingTests/TypeInfoTests.swift
  cmake/modules/shared/AvailabilityDefinitions.cmake
Labels: swift-6.1

#640 Special-case comparisons of ranges in `__checkBinaryOperation()`.
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Tests/TestingTests/IssueTests.swift
Labels: bug, swift-6.1

#632 Don't define `swt_getWASIVersion()` on non-WASI.
  Sources/_TestingInternals/include/Stubs.h
Labels: bug, wasi/wasm, swift-6.1, self-reviewed

#637 Set the library version reported via CMake to 6.1-dev.
  cmake/modules/LibraryVersion.cmake
Labels: build, swift-6.1

#638 [6.0] Set the library version reported via CMake to 6.0.
  cmake/modules/LibraryVersion.cmake
Labels: swift-6, build

#641 [6.0.0] Set the library version reported via CMake to 6.0.
  cmake/modules/LibraryVersion.cmake
Labels: swift-6, build

#624 Add `isolation` argument to functions taking non-sendable async closures.
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Issues/Confirmation.swift
  Sources/Testing/Issues/Issue+Recording.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Issues/KnownIssue.swift
  Sources/Testing/Testing.docc/Expectations.md
  Sources/Testing/Testing.docc/MigratingFromXCTest.md
  Sources/Testing/Testing.docc/known-issues.md
  Sources/Testing/Testing.docc/testing-asynchronous-code.md
  Sources/TestingMacros/ConditionMacro.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/ConfirmationTests.swift
  Tests/TestingTests/KnownIssueTests.swift
Labels: bug, concurrency, swift-6.1

#643 [6.0] Add `isolation` argument to functions taking non-sendable async closures.
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Issues/Confirmation.swift
  Sources/Testing/Issues/Issue+Recording.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Issues/KnownIssue.swift
  Sources/Testing/Testing.docc/Expectations.md
  Sources/Testing/Testing.docc/MigratingFromXCTest.md
  Sources/Testing/Testing.docc/known-issues.md
  Sources/Testing/Testing.docc/testing-asynchronous-code.md
  Sources/TestingMacros/ConditionMacro.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/ConfirmationTests.swift
  Tests/TestingTests/KnownIssueTests.swift
Labels: bug, concurrency, swift-6.0.x

#625 Generalize optional chaining detection used by `#require()`.
  Sources/TestingMacros/Support/ConditionArgumentParsing.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, swift-6.1

#646 [6.0] Fix incorrectly-specified platform list in CMake file.
  cmake/modules/shared/CompilerSettings.cmake
Labels: bug, darwin, swift-6, wasi/wasm, build, android

#648 Plumb through the testing library version into a function instead of a C++ macro.
  Sources/Testing/Support/Versions.swift
  Sources/_TestingInternals/CMakeLists.txt
  Sources/_TestingInternals/Versions.cpp
  Sources/_TestingInternals/include/Defines.h
  Sources/_TestingInternals/include/Versions.h
Labels: bug, build, swift-6.1, self-reviewed

#649 [6.0] Plumb through the testing library version into a function instead of a C++ macro.
  Sources/Testing/Support/Versions.swift
  Sources/_TestingInternals/CMakeLists.txt
  Sources/_TestingInternals/Versions.cpp
  Sources/_TestingInternals/include/Defines.h
  Sources/_TestingInternals/include/Versions.h
Labels: bug, build, swift-6.0.x

#650 [6.0.0] Plumb through the testing library version into a function instead of a C++ macro.
  Sources/Testing/Support/Versions.swift
  Sources/_TestingInternals/CMakeLists.txt
  Sources/_TestingInternals/Versions.cpp
  Sources/_TestingInternals/include/Defines.h
  Sources/_TestingInternals/include/Versions.h
Labels: bug, swift-6, build

#645 [CMake] Fix build with SwiftTesting_BuildMacrosAsExecutables option set
  Sources/CMakeLists.txt
  Sources/TestingMacros/CMakeLists.txt
Labels: bug, build, swift-6.1

#653 Add basic platform support for Android.
  Package.swift
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/ABI/EntryPoints/SwiftPMEntryPoint.swift
  Sources/Testing/Events/Recorder/Event.Symbol.swift
  Sources/Testing/SourceAttribution/Backtrace.swift
  Sources/Testing/Support/Additions/CommandLineAdditions.swift
  Sources/Testing/Support/Environment.swift
  Sources/Testing/Support/FileHandle.swift
  Sources/Testing/Support/GetSymbol.swift
  Sources/Testing/Support/Locked.swift
  Sources/Testing/Support/Versions.swift
  Sources/Testing/Traits/Tags/Tag.Color+Loading.swift
  Sources/_TestingInternals/Discovery.cpp
  Sources/_TestingInternals/include/Includes.h
  Sources/_TestingInternals/include/Stubs.h
  Tests/TestingTests/ABIEntryPointTests.swift
  Tests/TestingTests/Support/EnvironmentTests.swift
  Tests/TestingTests/Support/FileHandleTests.swift
  cmake/modules/shared/CompilerSettings.cmake
Labels: enhancement, linux, build, swift-6.1, android
