Repository swiftlang/swift-testing, pull requests merged in 2025-07, with the labels that each got.

#1184 order limits.h before stdlib.h to workaround for glibc _FORTIFY_SOURCE
  Sources/_TestingInternals/include/Includes.h
Labels: bug, linux, workaround, build

#1183 FreeBSD: Gate GNU-only API
  Sources/Testing/ExitTests/SpawnProcess.swift
  Sources/Testing/Support/Versions.swift
Labels: bug, workaround, exit-tests, freebsd, attachments/activities, openbsd

#1199 Apply the 'traitRelated' tag to more tests and suites
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
  Tests/TestingMacrosTests/TestSupport/TestingAdditions.swift
  Tests/TestingTests/PlanTests.swift
  Tests/TestingTests/SwiftPMTests.swift
  Tests/TestingTests/Test.SnapshotTests.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
  Tests/TestingTests/Traits/TestScopingTraitTests.swift
Labels: documentation, enhancement, traits

#1212 Reset the working directory of child processes we spawn on Windows.
  Sources/Testing/ExitTests/SpawnProcess.swift
  Sources/Testing/Support/FileHandle.swift
  Tests/TestingTests/Support/FileHandleTests.swift
Labels: bug, windows, workaround, exit-tests

#1203 Use a custom `AttachableImageFormat` type instead of directly relying on `UTType`.
  Sources/Overlays/_Testing_CoreGraphics/Attachments/AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/AttachableImageFormat+UTType.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/Attachment+AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/_AttachableImageWrapper.swift
  Sources/Testing/Attachments/AttachableImageFormat.swift
  Tests/TestingTests/AttachmentTests.swift
Labels: public-api, attachments/activities

#1216 Add a cross-import overlay with UIKit to allow attaching `UIImage`s.
  Package.swift
  Sources/Overlays/_Testing_UIKit/Attachments/UIImage+AttachableAsCGImage.swift
  Sources/Overlays/_Testing_UIKit/ReexportTesting.swift
  Tests/TestingTests/AttachmentTests.swift
  Tests/_MemorySafeTestingTests/MemorySafeTestDecls.swift
Labels: enhancement, darwin, public-api, attachments/activities, cross-import-overlays

#1166 Use a consistent definition for unreachable code in macro expansions.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/ExitTestCapturedValueMacro.swift
  Sources/TestingMacros/Support/Additions/FunctionDeclSyntaxAdditions.swift
  Sources/TestingMacros/Support/ClosureCaptureListParsing.swift
  Sources/TestingMacros/TagMacro.swift
Labels: enhancement, macros

#1218 Make `ExitTest._current` immutable.
  Sources/Testing/ExitTests/ExitTest.swift
Labels: bug, concurrency, self-reviewed, exit-tests

#1049 Emit "barriers" into the stdout/stderr streams of an exit test.
  Sources/Testing/ExitTests/ExitTest.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: bug, tools integration, workaround, exit-tests, command-line experience

#1220 [6.2] Emit "barriers" into the stdout/stderr streams of an exit test.
  Sources/Testing/ExitTests/ExitTest.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: bug, tools integration, workaround, exit-tests, command-line experience

#1219 [6.2] Reset the working directory of child processes we spawn on Windows.
  Sources/Testing/ExitTests/SpawnProcess.swift
  Sources/Testing/Support/FileHandle.swift
  Tests/TestingTests/Support/FileHandleTests.swift
Labels: bug, windows, workaround, exit-tests, integration

#1223 Add missing links to `UIImage` documentation.
  Sources/Overlays/_Testing_CoreGraphics/Attachments/AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/Attachment+AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/_AttachableImageWrapper.swift
Labels: bug, documentation, darwin, self-reviewed, attachments/activities

#1226 Only clear exit test ID env var upon successful lookup
  Sources/Testing/ExitTests/ExitTest.swift
Labels: enhancement, tools integration, exit-tests

#1198 Promote Issue Handling Traits to public API
  Sources/Testing/Testing.docc/Traits.md
  Sources/Testing/Traits/IssueHandlingTrait.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
Labels: documentation, enhancement, public-api, issue-handling, traits

#1228 [6.2] Promote Issue Handling Traits to public API
  Sources/Testing/Testing.docc/Traits.md
  Sources/Testing/Traits/IssueHandlingTrait.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
Labels: documentation, enhancement, public-api, issue-handling, traits, integration

#1231 Validate format of event stream version CLI argument when passed
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Tests/TestingTests/SwiftPMTests.swift
Labels: documentation, enhancement, swiftpm-integration, command-line experience

#1230 Update docs for decoding stdout and stderr from exit tests
  Sources/Testing/ExitTests/ExitTest.Result.swift
Labels: bug, documentation, exit-tests

#1233 Mention module name and presence in toolchain in README
  README.md
Labels: documentation, enhancement

#1165 Enable exit test value capturing
  Package.swift
  Sources/Testing/Testing.docc/exit-testing.md
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: documentation, enhancement, public-api, exit-tests, exit-test-capture-lists

#1236 Add FreeBSD and OpenBSD as experimentally supported in the readme.
  README.md
Labels: documentation, enhancement, freebsd, openbsd

#1240 Remove `swt_copyABIEntryPoint_v0()`.
  Sources/Testing/ABI/EntryPoints/ABIEntryPoint.swift
  Tests/TestingTests/ABIEntryPointTests.swift
Labels: tools integration, darwin, tech-debt

#1241 Silence a warning on FreeBSD/OpenBSD when calling `pthread_set_name_np()`.
  Sources/Testing/ExitTests/WaitFor.swift
Labels: bug, exit-tests, freebsd, attachments/activities, openbsd

#1242 Rename `"SWT_EXPERIMENTAL_CAPTURED_VALUES"`.
  Sources/Testing/ExitTests/ExitTest.swift
Labels: bug, exit-tests, exit-test-capture-lists

#1239 Introduce a new `ABI.VersionNumber` type.
  Sources/Testing/ABI/ABI.Record.swift
  Sources/Testing/ABI/ABI.VersionNumber.swift
  Sources/Testing/ABI/ABI.swift
  Sources/Testing/ABI/Encoded/ABI.EncodedTest.swift
  Sources/Testing/ABI/EntryPoints/ABIEntryPoint.swift
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/CMakeLists.txt
  Sources/Testing/ExitTests/ExitTest.swift
  Tests/TestingTests/ABIEntryPointTests.swift
  Tests/TestingTests/EntryPointTests.swift
  Tests/TestingTests/SwiftPMTests.swift
Labels: enhancement, tools integration, command-line experience
