Repository swiftlang/swift-testing, pull requests merged in 2025-08, with the labels that each got.

#1248 Fix two broken Forum category links in this project's New Issue template chooser
  .github/ISSUE_TEMPLATE/config.yml
Labels: bug, documentation

#1247 Remove experimental spi from issue severity
  Sources/Testing/Issues/Issue+Recording.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Running/Configuration.swift
Labels: documentation, enhancement, public-api, issue-handling

#1250 Fix test: issueCountSummingAtRunEnd which was broken by https://github.com/swiftlang/swift-testing/pull/1247
  Tests/TestingTests/EventRecorderTests.swift
Labels: bug, issue-handling

#1251 Declare Xcode 26 availability for IssueHandlingTrait
  Sources/Testing/Traits/IssueHandlingTrait.swift
Labels: documentation, enhancement, issue-handling, traits

#1258 Remove optionality from `_AttachableImageWrapper.wrappedValue` on Windows.
  Sources/Overlays/_Testing_WinSDK/Attachments/AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/HBITMAP+AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/HICON+AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/IWICBitmap+AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/ImageAttachmentError.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/UnsafeMutablePointer+AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/_AttachableImageWrapper.swift
Labels: bug, windows, attachments/activities

#1262 Enhance documentation for URL attachments.
  Sources/Overlays/_Testing_Foundation/Attachments/Attachment+URL.swift
Labels: documentation, attachments/activities, cross-import-overlays

#1256 Emit a diagnostic if a display name string is empty
  Sources/TestingMacros/Support/Additions/EditorPlaceholderExprSyntaxAdditions.swift
  Sources/TestingMacros/Support/AttributeDiscovery.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
Labels: enhancement, traits, macros, raw-identifiers

#1267 Test that the fixups are generated if display name is empty
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
Labels: enhancement, macros

#1266 Allow attaching an `IWICBitmapSource` instance directly.
  Sources/Overlays/_Testing_WinSDK/Attachments/AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/Attachment+AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/HBITMAP+AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/HICON+AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/IWICBitmap+AttachableAsIWICBitmap.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/IWICBitmapSource+AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/UnsafeMutablePointer+AttachableAsIWICBitmapSource.swift
  Sources/Overlays/_Testing_WinSDK/Attachments/_AttachableImageWrapper.swift
  Tests/TestingTests/AttachmentTests.swift
Labels: enhancement, windows, attachments/activities

#1253 Add experimental AdvancedConsoleOutputRecorder skeleton framework
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/CMakeLists.txt
  Sources/Testing/Events/Recorder/Event.AdvancedConsoleOutputRecorder.swift
Labels: enhancement, command-line experience, gsoc

#1279 Include severity and isFailure for Issues in the published JSON event stream
  Sources/Testing/ABI/Encoded/ABI.EncodedIssue.swift
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Tests/TestingTests/EntryPointTests.swift
  Tests/TestingTests/SwiftPMTests.swift
Labels: enhancement, tools integration, issue-handling

#1286 Update swift-syntax package dependency to 603
  Package.swift
  Sources/TestingMacros/CMakeLists.txt
Labels: documentation, enhancement, build, macros

#1282 Ensure attachments created in exit tests are forwarded to the parent.
  Sources/Testing/ABI/Encoded/ABI.EncodedAttachment.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: bug, exit-tests, attachments/activities

#1288 Bump the Swift version to 6.1.3
  cmake/modules/LibraryVersion.cmake
Labels: integration
