Repository swiftlang/swift-testing, pull requests merged in 2025-06, with the labels that each got.

#1139 Work around macOS build failures affecting test targets
  Package.swift
Labels: bug, darwin, workaround, build

#1136 IssueHandlingTrait refinements: Rename to 'compactMapIssues' and special-case system issues
  Sources/Testing/Testing.docc/Traits.md
  Sources/Testing/Traits/IssueHandlingTrait.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
Labels: enhancement, issue-handling, traits

#1141 Merge 'main' branch to 'release/6.2'
  Package.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Test+Discovery.swift
  Sources/Testing/Test+Macro.swift
  Sources/Testing/Testing.docc/ParameterizedTesting.md
  Sources/Testing/Testing.docc/Traits.md
  Sources/Testing/Traits/IssueHandlingTrait.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/SuiteDeclarationMacro.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
  Sources/TestingMacros/Support/TestContentGeneration.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/IssueTests.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
  Tests/_MemorySafeTestingTests/MemorySafeTestDecls.swift
Labels: integration

#1142 Update outdated Suite macro documentation
  Sources/Testing/Test+Macro.swift
Labels: bug, documentation, macros

#1145 Disable inheritance of file descriptors created by Swift Testing by default.
  Sources/Testing/Attachments/Attachment.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Support/FileHandle.swift
  Sources/_TestingInternals/include/Stubs.h
Labels: bug, linux, exit-tests

#1147 Use `posix_spawn_file_actions_adddup2()` to clear `FD_CLOEXEC`.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/ExitTests/SpawnProcess.swift
  Sources/Testing/Support/FileHandle.swift
  Sources/Testing/Support/Versions.swift
  Sources/_TestingInternals/include/Includes.h
Labels: enhancement, linux, exit-tests, android, freebsd, openbsd

#1105 Synthesize display names for de facto suites with raw identifiers.
  Sources/Testing/Parameterization/TypeInfo.swift
  Sources/Testing/Test.swift
  Sources/TestingMacros/Support/Additions/TokenSyntaxAdditions.swift
  Tests/TestingMacrosTests/TestDeclarationMacroTests.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, macros, discovery

#1122 Have `DiscoverableAsTestContent` enumeration produce `some Sequence` instead of `AnySequence`.
  Sources/Testing/Test+Discovery+Legacy.swift
  Sources/_TestDiscovery/DiscoverableAsTestContent.swift
  Sources/_TestDiscovery/TestContentRecord.swift
Labels: enhancement, performance, discovery

#1146 Improve the diagnostics for a bad exit test capture.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Expectations/Expectation+Macro.swift
  Sources/TestingMacros/CMakeLists.txt
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/ExitTestCapturedValueMacro.swift
  Sources/TestingMacros/Support/ClosureCaptureListParsing.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Sources/TestingMacros/TestingMacrosMain.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: enhancement, exit-tests, parameterized-testing, macros

#1114 Use our `posix_spawn()` wrapper in the Foundation CIO rather than `Process`.
  Documentation/Porting.md
  Package.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachment+URL.swift
  Sources/Testing/ExitTests/SpawnProcess.swift
  cmake/modules/shared/CompilerSettings.cmake
Labels: enhancement, windows, linux, freebsd, attachments/activities, qnx, openbsd, cross-import-overlays

#1150 Add an unreachable marker function.
  Sources/Testing/ExitTests/ExitTest.CapturedValue.swift
  Sources/Testing/ExitTests/ExitTest.Condition.swift
  Sources/Testing/Issues/Confirmation.swift
  Sources/Testing/Traits/TimeLimitTrait.swift
  Sources/_TestingInternals/include/Stubs.h
  Tests/TestingTests/ExitTestTests.swift
Labels: enhancement, performance, embedded-swift

#1130 Infer the types of function/closure arguments when captured by an exit test.
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/ClosureCaptureListParsing.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: enhancement, exit-tests, parameterized-testing

#1161 Suppress the complex expansion of expectations when we see effects in the lexical context.
  Sources/TestingMacros/Support/ConditionArgumentParsing.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
Labels: bug, public-api, macros

#1152 Diagnose when we incorrectly infer the type of a capture list item in an exit test.
  Sources/Testing/Expectations/Expectation+Macro.swift
  Sources/TestingMacros/ExitTestCapturedValueMacro.swift
  Sources/TestingMacros/Support/ClosureCaptureListParsing.swift
  Sources/TestingMacros/TestingMacrosMain.swift
  Tests/TestingTests/ExitTestTests.swift
Labels: enhancement, exit-tests, parameterized-testing, exit-test-capture-lists

#1173 [6.2] Fix a miscompile when a test function has a raw identifier parameter label.
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, parameterized-testing, macros, integration, raw-identifiers

#1175 Lower the "ambiguous display name" diagnostic to a warning for some names.
  Sources/TestingMacros/Support/AttributeDiscovery.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
Labels: enhancement, macros, raw-identifiers

#1172 Revert portion of workaround landed in #1139 which disabled the mandatory perf optimization pass
  Package.swift
Labels: enhancement, darwin, workaround, build

#1180 Remove redundant word from console output for test case started events in verbose mode
  Sources/Testing/Events/Recorder/Event.HumanReadableOutputRecorder.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: bug, command-line experience, parameterized-testing

#1181 [6.2] Remove redundant word from console output for test case started events in verbose mode
  Sources/Testing/Events/Recorder/Event.HumanReadableOutputRecorder.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: bug, command-line experience, parameterized-testing, integration

#1190 [6.2] Ensure that when .serialized is applied to a parameterized @Test func, its test cases are serialized
  Sources/Testing/Traits/ParallelizationTrait.swift
  Tests/TestingTests/TestSupport/TestingAdditions.swift
  Tests/TestingTests/Traits/ParallelizationTraitTests.swift
Labels: bug, traits, parameterized-testing, integration
