Repository swiftlang/swift-testing, pull requests merged in 2025-04, with the labels that each got.

#1047 Replace CRC-32 with SHA-256 in our macro target
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/TestingMacros/CMakeLists.txt
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/Additions/MacroExpansionContextAdditions.swift
  Sources/TestingMacros/Support/CRC32.swift
  Sources/TestingMacros/Support/SHA256.swift
Labels: enhancement, tools integration, exit-tests, macros

#1050 Revert "Ensure `Locked+Platform.swift` is not stripped when statically linking. (#1035)"
  Sources/Testing/Support/Locked+Platform.swift
  Sources/Testing/Support/Locked.swift
Labels: concurrency, workaround, embedded-swift

#1051 [6.2] Update version to 6.2.
  cmake/modules/LibraryVersion.cmake
Labels: build

#1052 Update the build version to 6.3-dev.
  cmake/modules/LibraryVersion.cmake
Labels: build

#1055 Miscellaneous bookkeeping/cleanup of `_TestDiscovery`.
  Sources/TestingMacros/Support/TestContentGeneration.swift
  Sources/_TestDiscovery/DiscoverableAsTestContent.swift
  Sources/_TestDiscovery/SectionBounds.swift
  Sources/_TestDiscovery/TestContentKind.swift
  Sources/_TestingInternals/include/Includes.h
Labels: bug, macros, discovery

#1053 Use the entire SHA-256 hash as an exit test ID.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/TestingMacros/ConditionMacro.swift
Labels: enhancement, exit-tests, macros

#1056 Add signal handler for `SIGABRT_COMPAT` on Windows.
  Sources/Testing/ExitTests/ExitTest.swift
Labels: bug, windows, exit-tests

#1057 [6.2] Miscellaneous bookkeeping/cleanup of `_TestDiscovery`.
  Sources/TestingMacros/Support/TestContentGeneration.swift
  Sources/_TestDiscovery/DiscoverableAsTestContent.swift
  Sources/_TestDiscovery/SectionBounds.swift
  Sources/_TestDiscovery/TestContentKind.swift
  Sources/_TestingInternals/include/Includes.h
Labels: bug, macros, discovery

#1058 [6.2] Use the entire SHA-256 hash as an exit test ID.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/TestingMacros/ConditionMacro.swift
Labels: enhancement, exit-tests, macros

#1059 [6.2] Add signal handler for `SIGABRT_COMPAT` on Windows.
  Sources/Testing/ExitTests/ExitTest.swift
Labels: bug, windows, exit-tests

#1043 [Experimental] Add Embedded Swift support to the `_TestDiscovery` target.
  Documentation/ABI/TestContent.md
  Package.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Test+Discovery.swift
  Sources/_TestDiscovery/TestContentKind.swift
  Sources/_TestDiscovery/TestContentRecord.swift
  Tests/TestingTests/DiscoveryTests.swift
Labels: enhancement, embedded-swift, discovery

#1065 Don't use a class to store the current exit test.
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Support/Locked.swift
Labels: bug, darwin, workaround, exit-tests

#1067 Fully-qualify reference to Swift's `Actor` protocol in macro expansion code for synchronous test functions
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, macros

#973 Promote attachments to API
  Documentation/ABI/JSON.md
  Sources/Overlays/_Testing_CoreGraphics/Attachments/Attachment+AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/_AttachableImageWrapper.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+Encodable+NSSecureCoding.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+Encodable.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+NSSecureCoding.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachment+URL.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Data+Attachable.swift
  Sources/Overlays/_Testing_Foundation/Attachments/EncodingFormat.swift
  Sources/Overlays/_Testing_Foundation/Attachments/_AttachableURLWrapper.swift
  Sources/Overlays/_Testing_Foundation/CMakeLists.txt
  Sources/Testing/ABI/Encoded/ABI.EncodedEvent.swift
  Sources/Testing/Attachments/Attachable.swift
  Sources/Testing/Attachments/AttachableWrapper.swift
  Sources/Testing/Attachments/Attachment.swift
  Sources/Testing/CMakeLists.txt
  Sources/Testing/Events/Event.swift
  Sources/Testing/Events/Recorder/Event.Symbol.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Running/Configuration.swift
  Sources/Testing/Testing.docc/Attachments.md
  Sources/Testing/Testing.docc/Documentation.md
  Sources/Testing/Testing.docc/MigratingFromXCTest.md
  Tests/TestingTests/AttachmentTests.swift
Labels: enhancement, public-api, api-proposal, attachments/activities

#1070 Introduce a severity level when recording issues
  Sources/Testing/Issues/Issue+Recording.swift
  Tests/TestingTests/IssueTests.swift
Labels: enhancement, public-api, issue-handling

#1071 🍒 [6.1.1] Fully-qualify reference to Swift's `Actor` protocol in macro expansion code for synchronous test functions
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, macros

#1072 🍒 [6.1.2] Fully-qualify reference to Swift's `Actor` protocol in macro expansion code for synchronous test functions
  Sources/TestingMacros/TestDeclarationMacro.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: bug, macros

#1074 Add support for the `--attachments-path` CLI argument.
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/Attachments/Attachment.swift
Labels: enhancement, tools integration, command-line experience, attachments/activities

#1073 Add `CustomStringConvertible` conformance to `ExitTest.Condition` and `StatusAtExit`.
  Sources/Testing/ExitTests/ExitTest.Condition.swift
  Sources/Testing/ExitTests/StatusAtExit.swift
Labels: enhancement, public-api, exit-tests

#1078 Add isFailure to Issue
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/Issues/Issue.swift
  Tests/TestingTests/IssueTests.swift
  Tests/TestingTests/KnownIssueTests.swift
Labels: enhancement, issue-handling

#1069 Add `unsafe` keyword handling to macro expansions.
  Package.swift
  Sources/Testing/Test+Macro.swift
  Sources/TestingMacros/CMakeLists.txt
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/ConditionArgumentParsing.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
Labels: enhancement, macros

#1081 Ensure the .whenEmbedded() build setting condition evaluates to false when building for non-Embedded without a fallback condition
  Package.swift
Labels: bug, embedded-swift, build

#1076 Relax the alignment requirement for `DiscoverableAsTestContent.Context`.
  Documentation/ABI/TestContent.md
  Sources/Testing/Discovery+Macro.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/_TestDiscovery/TestContentRecord.swift
  Tests/TestingTests/DiscoveryTests.swift
Labels: enhancement, exit-tests, discovery

#1082 Enable Library Evolution for package-based builds of the _TestDiscovery target
  Package.swift
Labels: enhancement, build, discovery

#1083 Update README to reference 6.1 CI jobs instead of 6.0 and add Windows job
  README.md
Labels: bug, documentation

#1084 Enable experimental 'AllowUnsafeAttribute' feature to continue supporting 6.1 development snapshot toolchains
  Package.swift
Labels: bug, build

#1090 Reserve the 'play' content kind in _TestDiscovery
  Documentation/ABI/TestContent.md
Labels: documentation, enhancement, tools integration, discovery

#1093 Fix build failure when building with pre-6.2 toolchain due to unrecognized `unsafe` keyword
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
Labels: bug, workaround, build, macros

#1088 Merge 'main' branch to 'release/6.2'
  Documentation/ABI/JSON.md
  Documentation/ABI/TestContent.md
  Package.swift
  README.md
  Sources/Overlays/_Testing_CoreGraphics/Attachments/Attachment+AttachableAsCGImage.swift
  Sources/Overlays/_Testing_CoreGraphics/Attachments/_AttachableImageWrapper.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+Encodable+NSSecureCoding.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+Encodable.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachable+NSSecureCoding.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Attachment+URL.swift
  Sources/Overlays/_Testing_Foundation/Attachments/Data+Attachable.swift
  Sources/Overlays/_Testing_Foundation/Attachments/EncodingFormat.swift
  Sources/Overlays/_Testing_Foundation/Attachments/_AttachableURLWrapper.swift
  Sources/Overlays/_Testing_Foundation/CMakeLists.txt
  Sources/Testing/ABI/ABI.Record+Streaming.swift
  Sources/Testing/ABI/Encoded/ABI.EncodedEvent.swift
  Sources/Testing/ABI/EntryPoints/EntryPoint.swift
  Sources/Testing/Attachments/Attachable.swift
  Sources/Testing/Attachments/AttachableWrapper.swift
  Sources/Testing/Attachments/Attachment.swift
  Sources/Testing/CMakeLists.txt
  Sources/Testing/Discovery+Macro.swift
  Sources/Testing/Events/Event.swift
  Sources/Testing/Events/Recorder/Event.Symbol.swift
  Sources/Testing/ExitTests/ExitTest.CapturedValue.swift
  Sources/Testing/ExitTests/ExitTest.Condition.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/ExitTests/StatusAtExit.swift
  Sources/Testing/Expectations/ExpectationChecking+Macro.swift
  Sources/Testing/Issues/Issue+Recording.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Running/Configuration.swift
  Sources/Testing/Support/Additions/ArrayAdditions.swift
  Sources/Testing/Support/JSON.swift
  Sources/Testing/Support/Locked+Platform.swift
  Sources/Testing/Support/Locked.swift
  Sources/Testing/Test+Discovery.swift
  Sources/Testing/Test+Macro.swift
  Sources/Testing/Testing.docc/Attachments.md
  Sources/Testing/Testing.docc/Documentation.md
  Sources/Testing/Testing.docc/MigratingFromXCTest.md
  Sources/TestingMacros/CMakeLists.txt
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/Additions/EditorPlaceholderExprSyntaxAdditions.swift
  Sources/TestingMacros/Support/Additions/MacroExpansionContextAdditions.swift
  Sources/TestingMacros/Support/ClosureCaptureListParsing.swift
  Sources/TestingMacros/Support/ConditionArgumentParsing.swift
  Sources/TestingMacros/Support/DiagnosticMessage.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
  Sources/TestingMacros/TestDeclarationMacro.swift
  Sources/_TestDiscovery/TestContentKind.swift
  Sources/_TestDiscovery/TestContentRecord.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/AttachmentTests.swift
  Tests/TestingTests/DiscoveryTests.swift
  Tests/TestingTests/ExitTestTests.swift
  Tests/TestingTests/IssueTests.swift
  Tests/TestingTests/KnownIssueTests.swift
  Tests/TestingTests/MiscellaneousTests.swift
Labels: integration

#1092 Include code comments before expectations which are preceded by try/await in recorded issues
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
Labels: bug, issue-handling, macros

#1095 Merge 'main' branch to 'release/6.2'
  CODEOWNERS
  Documentation/ABI/TestContent.md
  Sources/Testing/Events/Recorder/Event.ConsoleOutputRecorder.swift
  Sources/TestingMacros/ConditionMacro.swift
  Sources/TestingMacros/Support/EffectfulExpressionHandling.swift
  Tests/TestingMacrosTests/ConditionMacroTests.swift
  Tests/TestingTests/EventRecorderTests.swift
Labels: integration

#1096 Fix image URL for Swift 6.1 Windows CI badge in README
  README.md
Labels: bug, documentation, windows, self-reviewed

#1014 Add withKnownIssue comments to known Issues
  Sources/Testing/Events/Recorder/Event.HumanReadableOutputRecorder.swift
  Sources/Testing/ExitTests/ExitTest.swift
  Sources/Testing/Issues/Issue+Recording.swift
  Sources/Testing/Issues/Issue.swift
  Sources/Testing/Issues/KnownIssue.swift
  Tests/TestingTests/EventRecorderTests.swift
  Tests/TestingTests/KnownIssueTests.swift
Labels: bug, issue-handling

#1080 Introduce issue handling trait (as SPI)
  Sources/Testing/CMakeLists.txt
  Sources/Testing/Running/Runner.swift
  Sources/Testing/Testing.docc/Traits.md
  Sources/Testing/Traits/IssueHandlingTrait.swift
  Tests/TestingTests/Traits/IssueHandlingTraitTests.swift
Labels: enhancement, issue-handling, traits

#1097 Remove experimental status for evaluate() and add metadata
  Sources/Testing/Traits/ConditionTrait.swift
  Tests/TestingTests/Traits/ConditionTraitTests.swift
Labels: documentation, enhancement, public-api, traits
